.mainshadow{
  position: absolute;
  z-index: -1;
  top: -143px;
  right: -48px;
  bottom: -184px;
  left: -48px;
  border-radius: 48px;
  box-shadow: inset -3px -5px 34px -2px black;
}

.largediode{
  z-index: -2;
  position: absolute;
  top: -133px;
  left: 0;
  height: 71px;
  width: 71px;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
}

.innerdiode{
  z-index: -2;
  position: absolute;
  top: -125px;
  left: 8px;
  height: 55px;
  width: 55px;
  background-color: #1495ff;
  box-shadow: inset 0 0 20px 3px #4fdeff, 0 0 40px 10px #4fdeff;
  border: 2px solid #4fdeff;
  border-radius: 50%;
}

.smalldiode1{
  z-index: -2;
  position: absolute;
  top: -125px;
  left: 87px; /* 16px between each */
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: red;
}

.smalldiode2{
  z-index: -2;
  position: absolute;
  top: -125px;
  left: 127px; /* 16px between each */
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: yellow;
}

.smalldiode3{
  z-index: -2;
  position: absolute;
  top: -125px;
  left: 167px; /* 16px between each */
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: green;
}

.blackdot1{
  z-index: 1;
  position: absolute;
  top: -16px;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateX(-10px);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

.blackdot2{
  z-index: 1;
  position: absolute;
  top: -16px;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateX(10px);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

.blackcircle{
  z-index: -2;
  position: absolute;
  bottom: -103px;
  left: 0;
  height: 55px;
  width: 55px;
  background-color: black;
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: 4px 4px 24px -3px black;
}

.whiterec1{
  z-index: -2;
  position: absolute;
  bottom: -45px;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateX(-60px);
  height: 5px;
  width: 100px;
  background-color: white;
  border: 2px solid black;
}
.whiterec2{
  z-index: -2;
  position: absolute;
  bottom: -45px;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateX(60px);
  height: 5px;
  width: 100px;
  background-color: white;
  border: 2px solid black;
}

.arrows1{
  z-index: -2;
  position: absolute;
  bottom: -165px;
  right: 24px;
  height: 118px;
  width: 47px;
  background-color: black;
  border: 2px solid black;
  border-radius: 12px;
  box-shadow: 4px 4px 24px -3px black;
}
.arrows2{
  z-index: -2;
  position: absolute;
  bottom: -130px;
  right: -12px;
  height: 47px;
  width: 118px;
  background-color: black;
  border: 2px solid black;
  border-radius: 12px;
  box-shadow: 4px 4px 24px -3px black;
}

.curve1l{
  z-index: -1;
  transform: translateX(-36px);
  position: absolute;
  top: -74px;
  left: 0;
  right: 0;
  margin: auto;
  width: 74px;
  height: 26px;
  background-color: #ff1e1e;
  box-sizing: border-box;
  border-bottom: 2px  solid black;
  border-right: 2px  solid black;
  border-bottom-right-radius: 23.5px;
}

.curve1r{
  z-index: -1;
  transform: translateX(36px);
  position: absolute;
  top: -97px;
  left: 0;
  right: 0;
  margin: auto;
  width: 74px;
  height: 24px;
  background-color: #ff1e1e;
  box-sizing: border-box;
  border-top: 2px  solid black;
  border-left: 2px  solid black;
  border-top-left-radius: 23.5px;
}


.border1l{
  z-index: -5;
  position: absolute;
  top:-143px;
  left: -48px;
  /* right: -24px; */
  height: 94px;
  width: 430px;
  background-color: #ff1e1e;
  box-sizing: border-box;
  border: 1px  solid black;
  border-top-left-radius: 47px;
  /* border-top-right-radius: 47px; */
}
.border1r{
  z-index: -5;
  position: absolute;
  top: -143px;
  right: -48px;
  height: 47px;
  width: 430px;
  background-color: #ff1e1e;
  box-sizing: border-box;
  border: 1px  solid black;
  border-top-right-radius: 47px;
}

.border1mid{
  z-index: -4;
  position: absolute;
  top: -143px;
  left: 0;
  right: 0;
  margin: auto;
  height: 100px;
  width: 144px;
  background-color: #ff1e1e;
  box-sizing: border-box;
  border-top: 1px  solid black;
}

.border1b_l{
  z-index: -5;
  position: absolute;
  top: -49px;
  left:-48px;
  height: 49px;
  width: 430px;
  background-color: #ff1e1e;
  box-sizing: border-box;
  border-top: 1px  solid black;
  border-left: 1px  solid black;
}
.border1b_r{
  z-index: -5;
  position: absolute;
  top: -96px;
  right:-48px;
  height: 96px;
  width: 430px;
  background-color: #ff1e1e;
  box-sizing: border-box;
  border-top: 1px  solid black;
  border-right: 1px  solid black;
}

.border2l{
  z-index: -5;
  position: absolute;
  top:0;
  left: -48px;
  height: 540px;
  width: 48px;
  background-color: #ff1e1e;
  box-sizing: border-box;
  border-left: 1px  solid black;
}
.border2r{
  z-index: -5;
  position: absolute;
  top: 0;
  right: -48px;
  height: 540px;
  width: 48px;
  background-color: #ff1e1e;
  box-sizing: border-box;
  border-right: 1px  solid black;
}

.border3l{
  z-index: -5;
  position: absolute;
  bottom:-184px; /* should be 188 but border issues with the screen*/
  left: -48px;
  height: 188px;
  width: 430px;
  background-color: #ff1e1e;
  box-sizing: border-box;
  border-left: 1px  solid black;
  border-bottom: 1px  solid black;
  border-bottom-left-radius: 47px;
}

.border3r{
  z-index: -5;
  position: absolute;
  bottom: -184px;/* should be 188 but border issues with the screen*/
  right: -48px;
  height: 188px;
  width: 430px;
  background-color: #ff1e1e;
  box-sizing: border-box;
  border-bottom: 1px  solid black;
  border-right: 1px  solid black;
  border-bottom-right-radius: 47px;
}

.border3mid{
  z-index: -4;
  position: absolute;
  bottom: -184px;/* should be 188 but border issues with the screen*/
  left: 0;
  right: 0;
  margin: auto;
  height: 188px;
  width: 144px;
  background-color: #ff1e1e;
  box-sizing: border-box;
  border-bottom: 1px  solid black;
}

.borderscreenl{
  z-index: -2;
  position: absolute;
  left: -24px;
  top: -24px;
  width: 406px;
  height: 588px;
  background-color: white;
  border-top: 1px  solid black;
  border-left: 1px  solid black;
  border-bottom: 1px  solid black;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
.borderscreenr{
  z-index: -2;
  position: absolute;
  right: -24px;
  top: -24px;
  width: 406px;
  height: 588px;
  background-color: white;
  border-top: 1px  solid black;
  border-right: 1px  solid black;
  border-bottom: 1px  solid black;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
