body{
  position: relative;
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  min-height: 930px;
  margin: 0;
}

.pokeLogoContainer{
  position: relative;
  padding-top: 88%;
  margin: 0px 8px 20px 8px;
}

.pokeCircle{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.4);
  border-radius: 50%;
}

.pokeRect{
  position: absolute;
  top: 50%;
  height: 15px;
  width: 100%;
  transform: translateY(-50%);
  background-color: #e8e8e8
}

.pokeCircleSmall{
  position: absolute;
  top:30%;
  bottom: 30%;
  left: 30%;
  right: 30%;
  background-color: #e8e8e8;
  border-radius: 50%;
}

.pokeCircleTiny{
  position: absolute;
  top:38%;
  bottom: 38%;
  left: 38%;
  right: 38%;
  background-color: rgba(0,0,0, 0.4);
  border-radius: 50%;
}

.backgroundImgContainer{
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  z-index: -10;
  display:flex;
  justify-content:center;
  align-items:baseline;
  overflow: hidden;

}

.backgroundImg{
  margin-top: -150px;
  margin-left: -20px;
  min-width:120%;
  min-height: 120%;
  filter: blur(15px);
}

.mainContainer{
  width: 65%;
  min-width: 620px;
  max-width: 740px;
  margin: 0 auto;
  min-height: 540px;
  z-index: 10;
  position: relative;
}

.mainPage{
  /* overflow: hidden; */
  position: relative;
  padding: 10px 5px 10px 20px;
}
.rightBar{
  padding-top: 20px;
  /* background-color: rgb(200,220,240); */
}

.footer{
  position: absolute;
  z-index: 2;
  bottom: -164px;
  left: 72px;
  right: 123px;
  height: 104px;
  background-color: white;
  border-radius: 12px;
}


.regulatoryTopDiv{
  width: 100%;
  height: 170px;
}
.sideBySide{
  display: table;
  width: 100%;
}


.leftContainer{
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  width:240px;
}
.rightContainer{
  position: relative;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  text-align: left;
  min-width: 240px;
  padding: 10px;
}

.leftPage{
  min-width: 480px;
  overflow-y: scroll;
  height: 540px;
  width:77%;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
}
.rightPage{
  /* vertical-align: top; */
  width: 135px;
  height: 540px;
  float: right;
  display: inline-block;
  box-sizing: border-box;
}

.whiteBack{
  background-color: white;
  border-radius: 15%;
}

.flexContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flexContainerTypes{
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.dexTile{
  position: relative;
  margin: 5px 10px;
}

img div.dexTile{
  margin-bottom: -20px;
}

.disabledDexTile{
  filter: saturate(0%) brightness(20%);
}

.rightBarButton{
  margin: 10px 8px;
  box-sizing: border-box;
}

.rightBarTextField{
  width: 100%;
  /* border-radius: 5px; */
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
  text-align: center;
  height: 28px;
  border: none;
  padding: 0 8px;
  border-radius: 5px;
}

.sectionHolder{
  position: relative;
  background-color: rgba(255,255,255,0.6);
  border-radius: 20px;
}
.paddingBox{
  padding: 1px 6px 12px 6px;;
  margin-right: 10px;
}

.LabelHolder{
  background-color: rgba(255,255,255,0.75);
  border-radius: 5px;
  text-align: center;
  padding: 5px 0;
}

div.LabelHolder.LabelHolderLit{
  background-color: rgba(255,255,255,1);
}

.TypeLabel{
  padding: 0 8px;
  margin-right: 10px;
  height: 25px;
}
.TypeLabel:hover{
  color: white;
}

.TypeLabel.TypeSizeFix{
  display: inline-block;
  height: 20px;
  width: 70px;
  text-align: center;
  margin: 5px;
  padding-top: 2px;
}


.MoveLabel{
  padding: 0 8px;
  margin-right: 10px;
  height: 25px;
}

.MoveLabel.PhysicalMoveCategory{
  background-color: rgb(186, 52, 35)
}
.MoveLabel.SpecialMoveCategory{
  background-color: rgb(80, 88, 110)
}
.MoveLabel.StatusMoveCategory{
  background-color: rgb(140, 140, 140)
}

.TypeText{
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.FireType{
  background-color: rgb(184, 52, 27)
}
.BugType{
  background-color: rgb(13, 148, 48);
}
.DarkType{
  background-color: rgb(60,46,36);
}
.DragonType{
  background-color: rgb(105, 93, 199)
}
.ElectricType{
  background-color: rgb(219, 149, 53);
}
.FairyType{
  background-color: rgb(214, 148, 221);
}
.FightingType{
  background-color: rgb(115, 52, 34);
}
.GhostType{
  background-color: rgb(68, 71, 143);
}
.GroundType{
  background-color: rgb(184, 159, 92);
}
.IceType{
  background-color: rgb(138, 211, 241);
}
.NormalType{
  background-color: rgb(181, 178, 169);
}
.PsychicType{
  background-color: rgb(205, 65, 102);
}
.RockType{
  background-color: rgb(155, 134, 71);
}
.SteelType{
  background-color: rgb(143, 142, 157);
}
.GrassType{
  background-color: rgb(73, 117, 45);
}
.PoisonType{
  background-color: rgb(85, 40, 89);
}
.FlyingType{
  background-color: rgb(97, 118, 205);
}
.WaterType{
  background-color: rgb(43, 104,188);
}
.TypeIndicatorContainer{
  position: absolute;
  right: 3px;
  bottom: 50px;
}
.TypeIndicator{
  position: relative;
  float: right;
  width: 10px;
  height: 10px;
  margin-left: 1px;
  border-radius: 5px;
}

table{
  width: 100%;
  text-align: center;
}

th{
  text-align: center;
}
th:nth-of-type(2){
  text-align: left;
}
td:nth-of-type(2){
  text-align: left;
}
td:nth-of-type(5){
  width: 12%;
}
td:nth-of-type(6){
  width: 12%;
}

.inputContainer{
  width: 100%;
}
.inputGroup{
  display: inline-block;
  width: 45%;
  box-sizing: border-box;
}
.inputDiv{
  padding-bottom:10px;
}
.inputLabel{
  padding-top: 10px;
  margin: 0 auto;
}
.centeredDiv{
  margin-left: auto;
  margin-right: auto;
}

select{
  background-color: white;
  outline: none;
  border: none;
  width: 80px;
  height: 23px;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
}
input[type="number"]{
  width: 40%;
  text-align: center;
  font-size: 15px;
  height: 19px;
  border-radius: 5px;
  border-style: none;
  outline: none;
}
input[type="submit"]{
  width: 60px;
  height: 10px;
  font-size: 30px;
  font-weight: bold;
}

.invisibleFilter{
  display: none;
}




.upRightFloat{
position: absolute;
right: 20px;
}


.filterSection{
  padding: 10px 0;
}
.inputLabel{
  width: 100%;
}

.dexNumLabel{
  font-weight: bold;
}
.dexNameLabel{
  font-weight: normal;
}

.pokeImg{
  width: 200px;
  height: 200px;
}

.poke404{
  position: absolute;
  bottom: 20px;
  right: 210px;
}

.errorCode{
  text-align: center;
  margin: 90px auto 0 auto;
  width: 100%;
}

h1{
  margin: 5px 0;
  font-weight: bold;
}
h2{
  margin: 15px 0 5px 0;
}
h4{
  margin: 10px 0;
}

.redText{
  color: rgb(175, 61, 69);
}


a{
  padding: 0;
  text-decoration: none;
  color: black;
}
.pointer{
  cursor: pointer;
}

.displayEffect{
  box-shadow: inset 0 0 30px 10px white;
  background-color: #e8e8e8;
  border: 2px solid black;
  box-sizing: content-box;
}
