<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block meta_title %}
    {% endblock %}
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/Nunito-Black.ttf')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/Nunito-Bold.ttf')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/Nunito-Regular.ttf')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/dexframe.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/pokedescr.css') }}">
  </head>
  <body>
    <div class="backgroundImgContainer">
      <img src="{{url_for('static', filename='IMG_3255.jpg')}}" alt="" class="backgroundImg">
    </div>
    <div class="regulatoryTopDiv">
    </div>
    <div class="mainContainer">

      <div class="displayEffect">
        {% block main_page %}
        {% endblock %}

        <div class="rightBar rightPage">
          <a href="/">
            <div class="pokeLogoContainer">
              <div class="pokeCircle"></div>
              <div class="pokeRect"></div>
              <div class="pokeCircleSmall"></div>
              <div class="pokeCircleTiny"></div>
            </div>
          </a>
          <a href="/pokemon">
            <div class="LabelHolder rightBarButton">
              Pokédex
            </div>
          </a>
          <a href="/pokemon/types">
            <div class="LabelHolder rightBarButton">
              Poké Types
            </div>
          </a>
          <a href="/moves">
            <div class="LabelHolder rightBarButton">
              Moves
            </div>
          </a>
          <a href="/pokemon/random">
            <div class="LabelHolder rightBarButton">
              Random
            </div>
          </a>
          <!-- <a href="/kanto">
            <div class="LabelHolder rightBarButton">
              Kanto
            </div>
          </a> -->
          <form action="/search" name="searchForm" id="searchFrm">
            <input type="text" name="search"class="rightBarTextField" value="" placeholder="Search pokémon">
          </form>
        </div>

      </div>
      <div class="footer displayEffect">
        <div class="mainPage">
          This web app has been created by Zsolt Varga as a coursework assignment
          for SET09103 at Edinburgh Napier University.
        </div>
      </div>

      <!-- tags for the design of the pokedex frame -->
      <div class="mainshadow"></div>
      <div class="largediode"></div>
      <div class="innerdiode"></div>
      <div class="smalldiode1"></div>
      <div class="smalldiode2"></div>
      <div class="smalldiode3"></div>
      <div class="blackdot1"></div>
      <div class="blackdot2"></div>
      <div class="blackcircle"></div>
      <div class="whiterec1"></div>
      <div class="whiterec2"></div>
      <div class="arrows1"></div>
      <div class="arrows2"></div>
      <div class="curve1l"></div>
      <div class="curve1r"></div>
      <div class="borderscreenl"></div>
      <div class="borderscreenr"></div>
      <div class="border1l"></div>
      <div class="border1r"></div>
      <div class="border1mid"></div>
      <div class="border1b_l"></div>
      <div class="border1b_r"></div>
      <div class="border2l"></div>
      <div class="border2r"></div>
      <div class="border3l"></div>
      <div class="border3r"></div>
      <div class="border3mid"></div>
    </div>

  </body>
</html>
