{% extends "base.html" %}

{% block meta_title %}
<title>{{category}} category moves</title>
{% endblock %}

{% block main_page %}
  <div class="mainPage leftPage">
    <h2>Poké moves of category {{category}}</h2>
    <p>Select a move to see which pokémon are able to learn it.</p>

    <table id="itemsTable">
      <tbody>
        <tr>
          <th>#</th>
          <th>Move</th>
          <th>Type</th>
          <th>Category</th>
          <th>PP</th>
          <th>Accuracy</th>
        </tr>
        {% for move in pokemoves %}
          <tr>
            <td>
              {{num}}
            </td>
            <td >
              <a href="/moves/{{move['name']}}">
                <strong>{{move['name']}}</strong>
              </a>
            </td>
            <td class="TypeLabel LabelHolder {{ '{}Type'.format(move['type'])}}">
              <a href="/moves/types/{{move['type']}}">
              <span class="TypeText">
              {{move['type']}}
              </span>
            </td>
            <td class="MoveLabel LabelHolder TypeText MoveCategoryLabel {{'{}MoveCategory'.format(move['category'])}}">
              <span class="TypeText">
                {{move['category']}}
              </span>
            </td>
            <td>
              {{move['pp']}}
            </td>
            <td>
              {% if move['accuracy'] == None %}
              N/A
              {% else %}
              {{move['accuracy']}}%
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
