{% extends "base.html" %}

{% block meta_title %}
  <title>Pokédex - Welcome</title>
{% endblock %}

{% block main_page %}
  <div class="mainPage leftPage">
    <div class="sectionHolder paddingBox">
      <h1>Pokédex</h1>
      <h2>Welcome to the Generation I Pokédex.</h2>
    </div>
    <h3>
      This version of the pokédex contains a complete list of
      pokémon from Generation I, as well as all types, and moves they are
      able to learn.
    </h3>
    <h3>
      To get started, have a look at the navigation bar
      on the right or try exploring the url routes.
    </h3>

    <p>Copyright of all images of pokémon belong to The Pokémon Company.
      This web app has been created for educational purposes only.</p>

  </div>

{% endblock %}
