{% extends "base.html"%}

{% block meta_title %}
  <title>{{pokemon['name']}}</title>
{% endblock %}

{% block main_page %}
  <div class="mainPage leftPage">
    <div class="sideBySide">
      <div class="leftContainer">
        <img src="/static/images/{{pokemon['image']}}" class="whiteBack" width="200" alt="">
      </div>

      <div class="rightContainer" id="rgc">
        <h1>{{pokemon['name']}}</h1>
        <a href="/pokedex" class="pointer">
          <h2>#{{"%03d" % pokemon['dexnum']}}</h2>
        </a>
        {% for type in pokemon['type'] %}
        <div class="typeLabel">
          {{type}}
        </div>
        {% endfor %}
        <h4>Height: {{pokemon['height']/100}} m</h4>
        <h4>Weight: {{pokemon['weight']}} kg</h4>
      </div>
    </div>
    <h2>Description</h2>
    <p>{{pokemon['description']}}</p>
    <h2>Evolutions</h2>
    {%for evolution in pokemon['evolutions'] %}
      <a href="/pokemon/{{evolution}}"> {{evolution}}</a>
    {% endfor %}
  </div>
{% endblock %}
